h1 {
                color: Red;
                font-size: 35px;
                font-family: Times;
}
h6 {
                color: blue;
                font-size:;
                font-family: Helvetica;
}
li {
                color: blue;
                font-size:;
                font-family: Helvetica;
}
body{
    background-color:#71e62e;
  }
